:root {
    --cor-fundo: #870939;
    --cor-principal: #c0547e;
    --cor-secundaria: #f78ab4;
    --cor-destaque: #b9215c;
    --cor-texto: #050304;
  }
  
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    min-height: 100vh;
  }

  .caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
  }

  h1{
    color: var(--cor-destaque);
   }
   